
/* Your CSS Code here. */
body{
	margin: 0px;
	display: flex;
	justify-content: center;
	align-item: center;
	font-family: arial, sans-serif;
	background-color: #f4f4f4;
	
	
}
#box{
	width: 300px;
	background-color: lightblue;
	border: 15px solid blue;
	padding: 50px;
	margin: 20px;
}